<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Model Deployment</title>
    <script type="text/javascript">
      function SetDate() {
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        var hour = date.getHours();
        var minute = date.getMinutes();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day + "T" + hour + ":00";
        console.log(today);
        document.getElementById("myDate").value = today;
      }
    </script>
  </head>
  <body onload="SetDate()">
    <h1>Bicycle Prediction Model</h1>

    <p>Veuillez saisir les éléments suivants :</p>
    <form action="{{url_for('predict')}}" method="post">
      <div><input type="datetime-local" name="Date" id="myDate" /></div>
      <br />
      <div><label for="Season">Sélectionnez le saison :</label></div>
      <br />
      <div>
        <select name="Season" id="Season">
          <option value="1">L'autome</option>
          <option value="2">L'été</option>
          <option value="3">Le printemps</option>
          <option value="4">L'hiver</option>
        </select>
      </div>
      <br />
      <div><label for="weather">Sélectionnez le temps:</label></div>
      <br />
      <div>
        <select name="weather" id="weather">
          <option value="1">
            Clear, Few clouds, Partly cloudy, Partly cloudy.
          </option>
          <option value="2">
            Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist.
          </option>
          <option value="3">
            Light Snow, Light Rain, Thunderstorm, Scattered clouds, Light Rain +
            Scattered clouds.
          </option>
          <option value="4">
            Heavy Rain + Ice Pellets + Thunderstorm + Mist, Snow + Fog.
          </option>
        </select>
      </div>
      <br />
      <p>Veuillez choisir une option :</p>
      <div>
        <input
          type="radio"
          name="day"
          id="day_type1"
          value="Work Day"
          checked
        />
        <label for="day_type1">Work Day</label>
        <input type="radio" name="day" id="day_type2" value="Holiday" />
        <label for="day_type2">Holiday</label>
      </div>
      <br />
      <div>
        <p>Veuillez saisir la température réelle :</p>
        <input
          type="text"
          name="tempre"
          id="tempre"
          placeholder="°C"
          size="4"
        />
      </div>
      <br />
      <div>
        <p>Veuillez saisir la température ressentie :</p>
        <input type="text" name="temp" id="temp" placeholder="°C" size="4" />
      </div>
      <br />
      <div>
        <p>Veuillez saisir l'humidité :</p>
        <input type="text" name="humid" id="humid" placeholder="%" size="4" />
      </div>
      <br />
      <div>
        <p>Veuillez saisir la vitesse du vent :</p>
        <input type="text" name="vent" id="vent" placeholder="kmph" size="4" />
      </div>
      <br />
      <div><input type="submit" value="Soumettre" /></div>
    </form>
    <pre id="log"></pre>
  </body>
</html>
