<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enter City</title>
    <script type="text/javascript">
      function SetDate() {
        var date = new Date();

        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        var hour = date.getHours();
        var minute = date.getMinutes();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day + "T" + hour + ":00";
        console.log(today);
        document.getElementById("myDate").value = today;
      }
    </script>
  </head>
  <body onload="SetDate()">
    <h4>Please enter your city:</h4>
    <form action="{{url_for ('weather') }}" method="POST">
      <div><input type="text" name="city" id="city" size="20" /></div>
      <br />
      <div><input type="datetime-local" name="Date" id="myDate" /></div>
      <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
