{% extends "layouts/base.html" %} {% block title %} Predictions {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/assets/css/style.css" rel="stylesheet" />
{% endblock stylesheets %} {% block content %}

<div class="row d-flex justify-content-center">
  <div class="col-md-10">
    <div class="card">
      <div class="card-body d-flex justify-content-center">
        <table class="styled-table">
          <thead>
            <tr>
              <th scope="col">N°</th>
              <th scope="col">Date</th>
              <th scope="col">Season</th>
              <th scope="col">Weather</th>
              <th scope="col">Workday/Holiday</th>
              <th scope="col">Temperature</th>
              <th scope="col">Humidity</th>
              <th scope="col">Windspeed</th>
              <th scope="col">Expected Users</th>
            </tr>
          </thead>
          <tbody>
            {% if prediction_list != None%} {% for pred in prediction_list %}
            <tr>
              <th scope="row">{{pred.id}}</th>
              <td>{{pred.datetime}}</td>
              <td>{{pred.season}}</td>
              <td>{{pred.weather}}</td>
              <td>{{pred.workday}}</td>
              <td>{{pred.temperature}}</td>
              <td>{{pred.humidity}}</td>
              <td>{{pred.windspeed}}</td>
              <td>{{pred.count}}</td>
            </tr>
            {% endfor %} {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div>
  <p>{{Pred}}</p>
</div>

{% endblock content %} {% block datescript %}
<script type="text/javascript">
  function SetDate() {
    var date = new Date();

    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();
    var hour = date.getHours();
    var minute = date.getMinutes();

    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;

    var today = year + "-" + month + "-" + day + "T" + hour + ":00";
    console.log(today);
    document.getElementById("myDate").value = today;
  }
</script>
{%endblock datescript%} {% block javascripts %}
<script src="/static/assets/js/app.js"></script>
{% endblock javascripts %}
