{% extends "layouts/base.html" %} {% block title %} Predictions {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/assets/css/style.css" rel="stylesheet" />
{% endblock stylesheets %} {% block content %}

<div class="row">
  <div class="col-md-8">
    <div class="card card-profile">
      <div class="card-body d-flex justify-content-center">
        <table class="styled-table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Season</th>
              <th>Weather</th>
              <th>Workday/Holiday</th>
              <th>Temperature</th>
              <th>Humidity</th>
              <th>Windspeed</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <div class="card-body"></div>
    </div>
  </div>
</div>

{% endblock content %} {% block datescript %}
<script type="text/javascript">
  function SetDate() {
    var date = new Date();

    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();
    var hour = date.getHours();
    var minute = date.getMinutes();

    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;

    var today = year + "-" + month + "-" + day + "T" + hour + ":00";
    console.log(today);
    document.getElementById("myDate").value = today;
  }
</script>
{%endblock datescript%} {% block javascripts %}
<script src="/static/assets/js/app.js"></script>
{% endblock javascripts %}
