{% extends "layouts/base.html" %}

{% block title %} Predictions {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card card-profile">
            <div class="card-body"">
                <div>
                    <input type=" text" class="text" name="humid" id="humid" placeholder="Humidité(%)" size="4" />
                </div>

                <div>
                    <input type="text" class="text" name="vent" id="vent" placeholder="Vitesse du vent(kmph)" size="15" />
                </div>

                <div>
                    <input type="submit" value="Soumettre" />
                </div>
            </div>
        </div>

        </h4>
        <a href="/" class="btn btn-primary btn-round">Home</a>
    </div>
</div>
{% endblock content %}

{% block javascripts %}{% endblock javascripts %}